body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f2; /* Light pink background */
}

.header {
    background-color: #ff0040; /* Bright red header */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer {
    background-color: #ff0040; /* Bright red footer */
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.container {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1, p {
    color: #d60051; /* Dark pink text for headings and paragraphs */
}

form {
    padding: 30px;
}

.label, .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #d60051; /* Dark pink labels */
}

.input-group {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ff6699; /* Light pink border */
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #ff3366; /* Rosy red button */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e6004c; /* Darker shade for hover effect */
}

#result {
    text-align: center;
    padding: 20px;
    background-color: #fff0f5; /* Very light pink for result box */
    border-radius: 4px;
    margin-top: 20px;
}
